<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.icity.kgs.collect.mapper.TableInfoMapper">
    
    <resultMap type="TableInfo" id="TableInfoResult">
        <result property="id"    column="id"    />
        <result property="tableCode"    column="table_code"    />
        <result property="tableName"    column="table_name"    />
        <result property="tableTags"    column="table_tags"    />
        <result property="entityCategoryCode"    column="entity_category_code"    />
        <result property="entityCategoryName"    column="entity_category_name"    />
        <result property="description"    column="description"    />
        <result property="connectionKey"    column="connection_key"    />
        <result property="datasourceType"    column="datasource_type"    />
        <result property="datasourceId"    column="datasource_id"    />
        <result property="databaseName"    column="database_name"    />
        <result property="standardTableFlag"    column="standard_table_flag"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyUser"    column="modify_user"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="delStat"    column="del_stat"    />
    </resultMap>

    <sql id="selectTableInfoVo">
        select id, table_code, table_name, table_tags, entity_category_code, entity_category_name, description, connection_key, datasource_type, datasource_id, database_name, standard_table_flag, create_user, create_time, modify_user, modify_time, del_stat from table_info
    </sql>

    <select id="selectTableInfoList" parameterType="TableInfo" resultMap="TableInfoResult">
        <include refid="selectTableInfoVo"/>
        <where>  
            <if test="tableCode != null  and tableCode != ''"> and table_code = #{tableCode}</if>
            <if test="tableName != null  and tableName != ''"> and table_name like concat('%', #{tableName}, '%')</if>
            <if test="tableTags != null  and tableTags != ''"> and table_tags = #{tableTags}</if>
            <if test="entityCategoryCode != null  and entityCategoryCode != ''"> and entity_category_code = #{entityCategoryCode}</if>
            <if test="entityCategoryName != null  and entityCategoryName != ''"> and entity_category_name like concat('%', #{entityCategoryName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="connectionKey != null  and connectionKey != ''"> and connection_key = #{connectionKey}</if>
            <if test="datasourceType != null  and datasourceType != ''"> and datasource_type = #{datasourceType}</if>
            <if test="datasourceId != null  and datasourceId != ''"> and datasource_id = #{datasourceId}</if>
            <if test="databaseName != null  and databaseName != ''"> and database_name like concat('%', #{databaseName}, '%')</if>
            <if test="standardTableFlag != null "> and standard_table_flag = #{standardTableFlag}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="modifyUser != null  and modifyUser != ''"> and modify_user = #{modifyUser}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
            <if test="delStat != null "> and del_stat = #{delStat}</if>
        </where>
    </select>
    
    <select id="selectTableInfoById" parameterType="Long" resultMap="TableInfoResult">
        <include refid="selectTableInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTableInfo" parameterType="TableInfo" useGeneratedKeys="true" keyProperty="id">
        insert into table_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableCode != null">table_code,</if>
            <if test="tableName != null">table_name,</if>
            <if test="tableTags != null">table_tags,</if>
            <if test="entityCategoryCode != null">entity_category_code,</if>
            <if test="entityCategoryName != null">entity_category_name,</if>
            <if test="description != null">description,</if>
            <if test="connectionKey != null">connection_key,</if>
            <if test="datasourceType != null">datasource_type,</if>
            <if test="datasourceId != null">datasource_id,</if>
            <if test="databaseName != null">database_name,</if>
            <if test="standardTableFlag != null">standard_table_flag,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyUser != null">modify_user,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="delStat != null">del_stat,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableCode != null">#{tableCode},</if>
            <if test="tableName != null">#{tableName},</if>
            <if test="tableTags != null">#{tableTags},</if>
            <if test="entityCategoryCode != null">#{entityCategoryCode},</if>
            <if test="entityCategoryName != null">#{entityCategoryName},</if>
            <if test="description != null">#{description},</if>
            <if test="connectionKey != null">#{connectionKey},</if>
            <if test="datasourceType != null">#{datasourceType},</if>
            <if test="datasourceId != null">#{datasourceId},</if>
            <if test="databaseName != null">#{databaseName},</if>
            <if test="standardTableFlag != null">#{standardTableFlag},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyUser != null">#{modifyUser},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="delStat != null">#{delStat},</if>
         </trim>
    </insert>

    <update id="updateTableInfo" parameterType="TableInfo">
        update table_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableCode != null">table_code = #{tableCode},</if>
            <if test="tableName != null">table_name = #{tableName},</if>
            <if test="tableTags != null">table_tags = #{tableTags},</if>
            <if test="entityCategoryCode != null">entity_category_code = #{entityCategoryCode},</if>
            <if test="entityCategoryName != null">entity_category_name = #{entityCategoryName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="connectionKey != null">connection_key = #{connectionKey},</if>
            <if test="datasourceType != null">datasource_type = #{datasourceType},</if>
            <if test="datasourceId != null">datasource_id = #{datasourceId},</if>
            <if test="databaseName != null">database_name = #{databaseName},</if>
            <if test="standardTableFlag != null">standard_table_flag = #{standardTableFlag},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyUser != null">modify_user = #{modifyUser},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="delStat != null">del_stat = #{delStat},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTableInfoById" parameterType="Long">
        delete from table_info where id = #{id}
    </delete>

    <delete id="deleteTableInfoByIds" parameterType="String">
        delete from table_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>